* {
  font-family: "Poppins", sans-serif;
}

header nav {
  background: #ffffff;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f9f9fb;
}

.default-border-radius {
  border-radius: 10px;
}

#preloader {
  /* background: #FFFFFF url(../../images/loader2.gif) center center no-repeat; */
  background: #f3f6f8;
  background-size: 15%;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999999;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #662d91;
  border-bottom: 16px solid #662d91;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  margin: 50vh auto;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* START CUSTOM FONT SIZES */
.custom-font-size-14 {
  font-size: 14px;
}

.custom-font-size-13 {
  font-size: 13px;
}

.custom-font-size-18 {
  font-size: 18px;
}

.custom-font-size-22 {
  font-size: 22px;
}

.custom-font-size-26 {
  font-size: 26px;
}

/* END CUSTOM FONT SIZES */

.input-custom:focus {
  border-color: #662d91;
  box-shadow: 0 0 8px 0.2px #b09dbf;
}

.primary-background {
  background: #662d91;
  color: #ffffff;
}
.primary-background:hover {
  transition: all;
  background: #8445b4;
  color: #ffffff;
}

.secondary-background {
  background: #222224;
  color: #ffffff;
}

.tertiary-background {
  background: #64318a;
  color: #ffffff;
}

.default-background {
  background: #ffffff;
  border-radius: 10px;
  color: #222224;
}

.primary-text-color {
  color: #662d91;
}

.secondary-text-color {
  color: #7d8993;
}

.divider {
  width: 100%;
  height: 0px;
  border: 1px solid #ccccd3;
}

.divider-vertical {
  width: 0.1px;
  height: -1px;
  background-color: #ccccd3;
}

.btn-custom-primary {
  background: #222224;
  border-radius: 4px;
  color: #ccccd3;
  border: 1px solid #222224;
  min-width: 211px;
}

.btn-custom-primary:hover {
  background: #39393b;
  color: #ccccd3;
}

.btn-custom-tertiary {
  background: #64318a;
  color: #ffffff;
  border-radius: 4px;
  /* border: 1px solid #222224; */
}

.btn-custom-tertiary:hover {
  background: #9647d1;
  color: #ffffff;
  border: 0px;
  border: 1px solid #9647d1;
}

.btn-custom-secondary {
  background: #222224;
  border-radius: 4px;
  color: #ccccd3;
  border: 1px solid #222224;
}

.btn-custom-secondary:hover {
  background: #39393b;
  color: #ccccd3;
}

p {
  margin: 0;
}

.user-container {
  position: relative;
}

.nav-bottom-color {
  border-bottom: 1px solid #eeeeef;
}

.user-shorthand {
  width: 29px;
  height: 29px;
  background-color: #662d91;
  color: #ffffff;
  border-radius: 100%;
  text-align: center;
  font-size: 11px;
  position: relative;
}

.active-user {
  position: absolute;
  background-color: #138e3d;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid white;
  left: 22px;
  bottom: 1px;
}

.dashboard-active,
.sub-menu--dashboard-active {
  border-bottom: 3px solid #64318a;
  color: #222224;
}

.btn,
.tertiary-background:hover {
}

.card-custom {
  min-height: 100%;
  background: #f3f6f8;
  border-radius: 10px;
  color: #222224;
  border: 0px;
}

.menu-navbar-bg {
  background-color: #ffffff;
}

.nav-mobile {
  /* justify-content: space-between; */
}

.mobile-menu-collapse {
  z-index: 99999;
  background-color: #f6f7f8;
}

.logout-dropdown {
  left: unset;
  right: 0;
  border: 0;
  background: #f6f7f8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
}

.sub-menu {
  padding-left: 17em;
}

.address-title {
  font-size: 40px;
}

.special-input {
  border: none;
  border-radius: unset;
  border-bottom: 1px solid #c5c7c9;
  padding-left: 0px;
}

.special-input::placeholder {
  color: #ccccd3;
}

.user-name {
  font-size: 13px;
  align-self: center;
}

.notification-circle {
  background: #662d91;
  width: 15px;
  height: 15px;
  color: #ffffff;
  border-radius: 100%;
  padding: 7px;
  font-size: 9px;
  position: absolute;
  top: -8px;
  left: 12px;
}

/*****MEDIA QUERY****/

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 480px) {
  .user-name {
    font-size: 12px;
    align-self: center;
  }

  .dashboard-active {
    border-left: 3px solid #64318a;
    border-bottom: 0;
  }

  .dropdown-toggle::after {
    display: none;
  }

  .sub-menu {
    padding-left: 1em;
    font-size: 13px;
  }

  .address-title {
    font-size: 25px;
  }

  .btn-custom-primary {
    min-width: 0;
  }

  .sub-nav {
    font-size: 13px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) {
  .dropdown-toggle::after {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media screen and (max-width: 768px) {
  .dashboard-active {
    border-left: 3px solid #64318a;
    border-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
}

@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 49px;
    right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 75%;
    height: 100%;
  }

  .navbar-collapse.collapsing {
    right: -75%;
    transition: height 0s ease;
  }

  .navbar-collapse.show {
    right: 0;
    transition: right 300ms ease-in-out;
  }

  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: right 500ms ease-in-out;
  }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (992px <=width <=1024px) {
}

/* Extra large devices (large desktops, 1200px and up)*/
