.dash-divider {
  width: 80%;
  height: 0px;
  margin: auto;

  border: 1px dashed #222224;
}

.special-link-button {
  background-color: #007DC1;
  color: #ffffff;
  position: absolute;
}

.special-link-button:hover {
  background-color: #05547e;
  color: #ffffff;

}

.pop-up-container {
  min-width: 230px;
  background: #EBE4F1;
  border-radius: 7px;
  padding: 1.4em;
  position: absolute;
  z-index: 99999;
  margin-bottom: 2em;
  left: 32em;
  top: 5em;
  /* border: 0.8px solid #222224; */
  /* box-shadow: 5px 5px 67px 0px #222224; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

}