.portfolio-container {
  border-radius: 15px;
  border: 2px solid #e9e9e9;
  background: #fff;
}

.action-icon {
  border: none;
  background: none;
}

.custom-dropdown.show {
  right: 0px !important;
  left: unset !important;
}

.page-link {
  color: #16161d;
}
